.wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  //height: 30px;
  max-width: 320px;
  //border: 1px solid black;
}
.checkBox {
  appearance: none;
  box-sizing: border-box;
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.label {
  font-size: 12px;

  margin-left: 8px;

  word-break: break-all;
}
