@charset "UTF-8";

$font_gr: #615b5b;
$border_gr: 1px solid #cfcfcf;

.container {
  display: flex;
  flex-direction: column;
  .input_area {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;

    /* attribute 설정*/
    input::placeholder {
      color: #999;
    }
    .label {
      //max-width: 200px;
      //flex: 0 1 60px;
      color: $font_gr;
      font-size: 12px;
      word-break: keep-all !important;
      width: 100px;
    }
    .inputbox {
      width: 259px;
      min-height: 25px;
      color: #343434;
      border-bottom: $border_gr;
    }
  }
  .error_area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 7px;

    span {
      color: #f00;
      font-size: 11px;
    }
  }
}
