@charset "UTF-8";
//@import '../../app/global-css/variable';

$white: #fff;
@mixin marginRL {
  margin-left: auto;
  margin-right: auto;
}
@mixin fontStyle {
  font-size: 14px;
  color: #808080;
}

@media screen and (min-width: 500px) {
  .area {
   // font: $font-stack;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 880px;
    @include marginRL;
    padding: 30px 100px 60px 100px !important;
    background-color: $white;
    .container {
      width: 680px !important;
      align-items: center;
      //  @include marginRL;
      .logo {
        height: 40px;
        margin-top: 30px;
      }
      .header {
        margin: 0 auto;
        .signup_title {
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: content-box;
          font: bold 30px #000000;
          height: 70px !important;
          // border: 1px solid black;
        }
        .sub_title {
          display: flex;
          box-sizing: content-box;
          height: 60px;
          // border: 1px solid black;
          justify-content: center;
          align-items: center;
          font-size: 13px;
        }
      }
      .area_text {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .companyNo_area {
        display: inline-flex;
      }

      .nav_button_area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
      }
    }
    .nav_check_area {
      width: 320px !important;
      flex-direction: column;
      margin-left: 220px;
      width: 320px;
      // border: 1px solid black;
    }
    .select_label {
      color: #615b5b;
      font-size: 12px;
      word-break: keep-all !important;
      width: 100px;
      margin-right: 10%;
    }
  }
}

